@value colors: "../../globals/global-styles.css";
@value gray, lightGray from colors;

.navbarContainer {
 height: 105px;
  position: relative
}
.navbarRightContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.navbarRightContainerMobile {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  background-color: gray;
}
.navbar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: gray;
  padding-left:15px;
  padding-right:15px;
}
.tllcLogo {
  height: 77px;
  width: 154px;
}
.linksFlexItem {
  align-self: center;
  margin: 10px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}
.linksFlexItem:hover {
  color: lightGray;
}
.linksNewcomer {
  composes: linksFlexItem;
  outline: lightGray solid 3px;
  padding: 4px;

}
.linksFlexItemMobile {
  composes: linksFlexItem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobileList {
  background-color: gray;
  display: flex;
  flex-direction: column;
}



